# ETABS
ETABS_VERSION=2016
ETABS_PATH=C:\Program Files\Computers and Structures\ETABS 2016\ETABS.exe
ETABS_PROG_ID=CSI.ETABS.API.ETABSObject

# Revit
REVIT_VERSION=2024

# Project
DCVIET_DATA_DIR=.\Data
DCVIET_OUTPUT_DIR=.\Output
DCVIET_TEMP_DIR=.\Temp

# Excel
DCVIET_EXCEL_TEMPLATE=.\Data\Templates\BeamDesign.xlsx